*{
    font-family: "Lucida Console", Monaco, monospace;
}

.bg-theme{
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar{
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 0px 15px #9900ff;
}

.editOnHover{
    display: none;
    overflow: hidden;

}


.fa{
    cursor: pointer;

}

.table_row:hover .editOnHover{
    display: inline;
}

#canvas_container{
    border: 1px solid #0000e6;
    box-shadow: 0px 0px 30px #0000e6;
    border-radius: 10px;
}
.box_shadow{
    box-shadow: 0px 0px 15px #99ccff;
}

.text-small{
    font-size: 30px;
}

*:focus { 
    outline: none;
    box-shadow: none;
}

#graph_type{
    cursor: pointer;
}

.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669F2;
}

.table{
    box-shadow: 0px 0px 15px  #4285f4;
}

/* ------------------------------------------- */
.page-link{
    border-radius: 50%;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
}

.page-link:hover{
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.page-item:first-child .page-link{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.page-item:last-child .page-link {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#filterByMonth{
    background-color:#DC3545;
    border-radius: 30px;
    color: #fff;
    font-size: 1.5rem ;
}

#filterByYear{
    background-color:#DC3545;
    color: #fff;
    border-radius: 30px;
    font-size: 1.5rem ;
}

/* -------------------------------------------------------- */

table.blueTable {
    font-family: "Lucida Console", Monaco, monospace;
    border:none;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: none;
    padding: 10px 4px;
}
table.blueTable tbody td {
    font-size: 18px;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #A44599;
    background: -moz-linear-gradient(top, #bb73b2 0%, #ad57a3 66%, #A44599 100%);
    background: -webkit-linear-gradient(top, #bb73b2 0%, #ad57a3 66%, #A44599 100%);
    background: linear-gradient(to bottom, #bb73b2 0%, #ad57a3 66%, #A44599 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}
